.notification-group {
  z-index: 1;
  width: 20rem;
  color: #fff;
  margin: 0;
}
.notification {
  font-size: var(--font-size-small);
  display: block;
  padding: 0;
}
.notification-group-wrapper {
  position: absolute;
  display: inline-flex;
  align-items: center;
  height: 3rem;
  z-index: 1;
  bottom: 0;
}
